#home-content-wrapper{
	margin: 50px 100px;
	margin-bottom: 10px;
	text-align: center;
}

.home-title {
	font-style: garamond;
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
	letter-spacing: 2px;
}

.home-text {
	font-family: helvetica;
	font-size: 16px;
	color: #808080;
	margin-left: 10%;
	margin-right: 10%;
}

.home-button{
	color: black;
	padding: 15px 20px;
	border: 2px solid black;
	font-family: helvetica;
	text-transform: uppercase;
	display: inline-block;
	margin: 30px 10px;
}

.home-button:hover{
	color: white;
	background: black;
}

a{
	text-decoration: none;
	color: #2A5DB0;
}